# Considered helpful
enable=check-unassigned-uppercase
enable=require-double-brackets

# No issues reported, no opinion formed
enable=add-default-case
enable=avoid-nullary-conditions
enable=check-set-e-suppressed
enable=deprecate-which
enable=quote-safe-variables

# Considered harmful
# enable=check-extra-masked-returns # overcomplicates values.bash caching
# enable=require-variable-braces # extra noise, helps future refactors point invalid because ShellCheck is constantly enforced
