name: Build
permissions:
  contents: none
  pull-requests: none
on:
  push:
    branches:
      - main

jobs:
  plan:
    name: Plan
    uses: ./.github/workflows/plan.yml
    permissions:
      contents: write
      packages: write
    secrets: inherit

  release:
    name: Release
    needs: plan
    if: endsWith(github.event.head_commit.author.name, '[bot]') && needs.plan.outputs.version != ''
    uses: ./.github/workflows/release.yml
    with:
      version: ${{ needs.plan.outputs.version }}
      container: ${{ needs.plan.outputs.container }}
    permissions:
      contents: write
    secrets: inherit
