name: Distribute
on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
    secrets:
      ANTTIHARJU_BOT_ID:
        required: true
      ANTTIHARJU_BOT_PRIVATE_KEY:
        required: true

permissions:
  contents: write

jobs:
  homebrew-tap:
    name: Homebrew tap
    runs-on: ubuntu-24.04
    env:
      TAG: ${{ inputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate commit token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.ANTTIHARJU_BOT_ID }}
          private-key: ${{ secrets.ANTTIHARJU_BOT_PRIVATE_KEY }}
          repositories: homebrew-tap
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: anttiharju/homebrew-tap
          token: ${{ steps.generate-token.outputs.token }}
          path: homebrew-tap
      - name: Download binary archives
        env:
          GH_TOKEN: ${{ github.token }}
          TAG: ${{ inputs.tag }}
        run: |
          gh release download "$TAG" --pattern '${{ github.event.repository.name }}-*64.tar.gz'
          ls -- *.tar.gz
      - name: Render formula template
        uses: anttiharju/actions/render-template@v1
        with:
          template: dist/brew/template.rb
          values: dist/brew/values.bash
          output: homebrew-tap/Formula/${{ github.event.repository.name }}.rb
      - name: Commit changes
        uses: anttiharju/actions/commit-changes@v1
        with:
          committer: "${{ github.actor }}[bot]"
          message: |
            Update ${{ github.event.repository.name }} to ${{ inputs.tag }}

            https://github.com/${{ github.repository }}/blob/${{ github.sha }}/.github/workflows/distribute.yml
          working-directory: homebrew-tap
