name: Documentation
on:
  workflow_call:
    secrets:
      ANTTIHARJU_BOT_ID:
        required: true
      ANTTIHARJU_BOT_PRIVATE_KEY:
        required: true

jobs:
  website:
    name: Website
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Generate deploy token
        id: deploy
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.ANTTIHARJU_BOT_ID }}
          private-key: ${{ secrets.ANTTIHARJU_BOT_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ steps.deploy.outputs.token }}
      - name: Deploy to GitHub Pages
        uses: anttiharju/actions/mkdocs-gh-deploy@v1
        with:
          committer: "${{ github.actor }}[bot]"
