name: Package
permissions:
  contents: write
  pull-requests: none
on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
    secrets:
      ANTTIHARJU_BOT_ID:
        required: true
      ANTTIHARJU_BOT_PRIVATE_KEY:
        required: true

jobs:
  homebrew-tap:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Generate commit token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.ANTTIHARJU_BOT_ID }}
          private-key: ${{ secrets.ANTTIHARJU_BOT_PRIVATE_KEY }}
          repositories: homebrew-tap
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: anttiharju/homebrew-tap
          token: ${{ steps.generate-token.outputs.token }}
          path: homebrew-tap
      - name: Render template
        env:
          TAG: ${{ inputs.tag }}
        uses: anttiharju/actions/render-template@v0
        with:
          template: pkgs/brew/template.rb
          values: pkgs/brew/values.sh
          output: homebrew-tap/Formula/${{ github.event.repository.name }}.rb
      - name: Commit changes
        uses: anttiharju/actions/commit-changes@v0
        with:
          committer: "${{ github.actor }}[bot]"
          message: |
            Update ${{ github.event.repository.name }} to ${{ inputs.tag }}

            https://github.com/${{ github.repository }}/blob/${{ github.sha }}/.github/workflows/package.yml
          working-directory: homebrew-tap

  nur-packages:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Generate commit token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.ANTTIHARJU_BOT_ID }}
          private-key: ${{ secrets.ANTTIHARJU_BOT_PRIVATE_KEY }}
          repositories: nur-packages
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: anttiharju/nur-packages
          token: ${{ steps.generate-token.outputs.token }}
          path: nur-packages
      - uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - name: Render template
        env:
          TAG: ${{ inputs.tag }}
        uses: anttiharju/actions/render-template@v0
        with:
          template: pkgs/nix/template.nix
          values: pkgs/nix/values.sh
          output: nur-packages/pkgs/${{ github.event.repository.name }}.nix
      - name: Sync nur-packages default.nix
        uses: anttiharju/actions/sync-default-nix@v0
        with:
          working-directory: nur-packages
      - name: Commit changes
        uses: anttiharju/actions/commit-changes@v0
        with:
          working-directory: nur-packages
          committer: "${{ github.actor }}[bot]"
          message: |
            Update ${{ github.event.repository.name }} to ${{ inputs.tag }}

            https://github.com/${{ github.repository }}/blob/${{ github.sha }}/.github/workflows/package.yml
