on:
  workflow_call:
    secrets:
      ANTTIHARJU_BOT_ID:
        required: true
      ANTTIHARJU_BOT_PRIVATE_KEY:
        required: true

jobs:
  documentation:
    name: Documentation
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Generate token
        uses: actions/create-github-app-token@v1
        id: generate-token
        with:
          app-id: ${{ secrets.ANTTIHARJU_BOT_ID }}
          private-key: ${{ secrets.ANTTIHARJU_BOT_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.generate-token.outputs.token }}
      - name: Deploy to GitHub Pages
        uses: anttiharju/actions/mkdocs-gh-deploy@v0
        with:
          committer: "anttiharju[bot]"
