name: Release
permissions:
  contents: write
  pull-requests: none
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
    secrets:
      ANTTIHARJU_BOT_ID:
        required: true
      ANTTIHARJU_BOT_PRIVATE_KEY:
        required: true

jobs:
  github:
    name: GitHub
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Create GitHub release
        id: release
        uses: anttiharju/actions/release@v0
        with:
          version: ${{ inputs.version }}
      - name: Setup cache
        id: cache
        run: |
          if [ -f "go.sum" ]; then
            echo "enabled=true" >> "$GITHUB_OUTPUT"
          else
            echo "enabled=false" >> "$GITHUB_OUTPUT"
          fi
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: ${{ steps.cache.outputs.enabled }}
      - name: Create darwin-arm64 archive
        env:
          GOOS: darwin
          GOARCH: arm64
          tag: ${{ steps.release.outputs.tag }}
        run: |
          ./release/github/archive.sh "$tag" "$GOOS" "$GOARCH"
      - name: Create linux-amd64 archive
        env:
          GOOS: linux
          GOARCH: amd64
          tag: ${{ steps.release.outputs.tag }}
        run: |
          ./release/github/archive.sh "$tag" "$GOOS" "$GOARCH"
      - name: Create darwin-amd64 archive
        env:
          GOOS: darwin
          GOARCH: amd64
          tag: ${{ steps.release.outputs.tag }}
        run: |
          ./release/github/archive.sh "$tag" "$GOOS" "$GOARCH"
      - name: Create linux-arm64 archive
        env:
          GOOS: linux
          GOARCH: arm64
          tag: ${{ steps.release.outputs.tag }}
        run: |
          ./release/github/archive.sh "$tag" "$GOOS" "$GOARCH"
      - name: Upload archives to release
        env:
          GH_TOKEN: ${{ github.token }}
          tag: ${{ steps.release.outputs.tag }}
        run: |
          find . -maxdepth 1 -name '${{ github.event.repository.name }}-*-*.tar.gz' -exec gh release upload "$tag" {} \;
    outputs:
      tag: ${{ steps.release.outputs.tag }}

  homebrew-tap:
    name: Homebrew
    needs: github # Relies on binaries uploaded to the GitHub release
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Generate commit token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.ANTTIHARJU_BOT_ID }}
          private-key: ${{ secrets.ANTTIHARJU_BOT_PRIVATE_KEY }}
          repositories: homebrew-tap
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: anttiharju/homebrew-tap
          token: ${{ steps.generate-token.outputs.token }}
          path: homebrew-tap
      - name: Convert hyphens to underscores
        id: file
        shell: bash
        env:
          REPO_NAME: ${{ github.event.repository.name }}
        run: |
          echo "name=${REPO_NAME//-/_}" >> "$GITHUB_OUTPUT"
      - name: Output name with underscores
        id: underscore
        uses: ./.github/actions/underscore-name
      - name: Render template
        env:
          TAG: ${{ needs.github.outputs.tag }} # brew/values.sh expects TAG variable
        uses: anttiharju/actions/render-template@v0
        with:
          template: release/brew/template.rb
          values: release/brew/values.sh
          output: homebrew-tap/Formula/${{ steps.underscore.outputs.filename }}.rb
      - name: Commit changes
        uses: anttiharju/actions/commit-changes@v0
        with:
          committer: "${{ github.actor }}[bot]"
          message: |
            Update ${{ github.event.repository.name }} to ${{ inputs.version }}

            https://github.com/${{ github.repository }}/blob/${{ github.sha }}/.github/workflows/package.yml
          working-directory: homebrew-tap

  nur-packages:
    name: Nix
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Generate commit token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.ANTTIHARJU_BOT_ID }}
          private-key: ${{ secrets.ANTTIHARJU_BOT_PRIVATE_KEY }}
          repositories: nur-packages
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: anttiharju/nur-packages
          token: ${{ steps.generate-token.outputs.token }}
          path: nur-packages
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - name: Render template
        env:
          TAG: "v${{ inputs.version }}"
        uses: anttiharju/actions/render-template@v0
        with:
          template: release/nix/template.nix
          values: release/nix/values.sh
          output: nur-packages/pkgs/${{ github.event.repository.name }}/default.nix
      - name: Sync nur-packages root default.nix
        uses: anttiharju/actions/sync-default-nix@v0
        with:
          working-directory: nur-packages
      - name: Commit changes
        uses: anttiharju/actions/commit-changes@v0
        with:
          working-directory: nur-packages
          committer: "${{ github.actor }}[bot]"
          message: |
            Update ${{ github.event.repository.name }} to ${{ inputs.version }}

            https://github.com/${{ github.repository }}/blob/${{ github.sha }}/.github/workflows/package.yml
